<div class="case-search">
  <div class="container container--wide">
    <form action="{{ url_for('social_bp.social_case_search') }}" method='get'>
      <div class="field">
        <label class="label venus" for="postcode-search">Find case by postcode</label>
        <input class="input input--text input-width-7 u-fl u-mr-s u-mb-s" type="text" name="query" id="postcode-search" required/>
      </div>
      <button type="submit" class="btn" id="postcode-search-submit">Search</button>
    </form>
  </div>
</div>
