{% extends 'layouts/spoke.html' %}

{% block page_title %} Change response status - Case details | Social Survey Data Collection {% endblock %}

{%- block main %}
<div role="main" id="main" class="page__main">
  <div class="spoke__header">
    <div class="spoke__header__title">
      <h1 class="jupiter">Change response status</h1>
    </div>
  </div>
  <div class="spoke__body" id="spoke__body">
  <dl class="metadata metadata__list grid grid--gutterless" title="Item metadata" aria-label="Item metadata">
    <dt class="metadata__term grid__col col-4@m venus">Reference:</dt>
    <dd class="metadata__value grid__col col-8@m">{{ reference }}</dd>
    <dt class="metadata__term grid__col col-4@m venus">Current status:</dt>
    <dd class="metadata__value grid__col col-8@m" id="current-status">{{ current_status }}</dd>
  </dl>
    <form method="post" class="u-mt-l">
      <div class="field field--select">
        <label class="label mars u-mb-s" for="status-list">Select new status code</label>
        <select class="input input--select input--block" id="status-list" name="event" required>
          <option selected disabled hidden value="">Select a status code</option>
          {% for group, group_statuses in statuses.items() %}
            {% set outer_loop = loop %}
            <optgroup label="{{ group }}">
            {% for status, status_description in group_statuses.items() %}
              <option value="{{ status }}" id="status-group-{{ outer_loop.index }}-status-{{loop.index}}">{{ status_description }}</option>
            {% endfor %}
            </optgroup>
          {% endfor %}
        </select>
      </div>
      <div class="u-mt-l  u-mb-s">
        <button type="submit" id="response-status-change-confirm-button" class="btn btn--primary">Set new status</button>
      </div>
      <div>
        <a href="{{ request.referrer }}">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock main -%}
