{% extends "layouts/base.html" %}
{% block page_title %} Case details | Social Survey Data Collection {% endblock %}

{% block header %}
  {% include 'partials/social-case-search.html' %}
{% endblock %}

{% block main %}
  {% if new_iac %}
    <div class="panel panel--simple panel--success" id="new-iac-iac">
     <div class="panel__body">
        <h2 class="venus u-mb-xs">New unique access code:</h2>
        <code class="saturn" id="new-iac">
          {{new_iac}}
        </code>
      </div>
    </div>
  {% endif %}
  {% for msg in get_flashed_messages(category_filter=["success"]) %}
    <div class="panel panel--simple panel--success u-mt-l">
      <div id="status_change_successful" class="panel__body">
        <h2 class="venus">{{ msg }}</h2>
      </div>
    </div>
  {% endfor %}
  <h1 class="jupiter u-mt-m" id="case_ref">{{case_reference}}</h1>
  <dl class="metadata metadata__list grid grid--gutterless" title="Item metadata" aria-label="Item metadata">
    <dt class="metadata__term grid__col col-1@m venus">Status:</dt>
    <dd class="metadata__value grid__col col-11@m venus">
    <span class="response-status-headline" id="case-group-status">
      {{status}}
    </span>
    <span class="response-status-detail mars u-mt-xs u-db">
      {{ updated_status }}
    </span>
    {% if case_event_description is not none %}
    <span class="response-status-detail mars u-mt-xs u-db" id="case-group-status-detailed">
      {{ case_event_description }}
    </span>
    {% endif %}
    {% if can_change_status %}
    <div class="response-status-action u-mt-s u-db">
      <form action="{{ url_for('social_bp.change_case_response_status', case_id=case_id) }}" method='GET'>
        <button type="submit" class="btn btn--secondary btn--small" id="change-status-submit">Change Status</button>
      </form>
    </div>
    {% endif %}
  </dd>
  </dl>
  <div class="case-details u-mt-m">
    <section class="social-case-section u-mt-l">
      <h2 class="neptune">Property address</h2>
      <div id="case-attributes">
        <p>
        {% for name in displayed_attributes %}
          <span class="case-address__{{ name|lower }}" id="case-{{ name|lower|replace('_', '-') }}">{{ attributes[name] }}</span><br>
        {% endfor %}
        </p>
      </div>
    </section>
    <section class="social-case-section u-mt-xl">
      <h2 class="neptune">Unique access code</h2>
      <p class="mars" id="new-iac-count">
      {% if iac_count == 1 %}
        There has been {{ iac_count }} unique access code issued for this case.
      {% else %}
        There have been {{ iac_count }} unique access codes issued for this case.
      {% endif %}
      </p>
      <form action="{{ url_for('social_bp.generate_iac') }}" method='POST'>
        <input type="hidden" name="case_id" value="{{case_id}}"/>
        <button type="submit" class="btn btn--secondary btn--small generate-iac-submit u-mb-xs" id="generate-iac-submit">Generate new code</button>
      </form>
    </section>
  </div>
{% endblock %}
