/* Any CSS we need to override the CDN styles */
/* Need to keep this minimal, and push styles up to the CDN when we're happy with them */

@import "/css/components/spoke.css";

/* Utility overrides */
.input-width-7 {
  width: 8.6rem;
}

.case-search{
  background-color: #e4e8eb;
  padding: .8rem 0;
  overflow: hidden;
}
