

/* Any CSS we need to override the CDN styles */
/* Need to keep this minimal, and push styles up to the CDN when we're happy with them */

/* Change base font size for 1rem from 18px to 16px */

/*
html {
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  html {
    font-size: 16px;
  }
}

/*
.grid__col {
  font-size: 16px;
  font-size: 1rem;
  padding-left: 16px;
  padding-left: 1rem;
  *display: inline;
  *zoom: 1;
}
*/

.table__dense {
  font-size: 90%;
  font-size: 100%;
}
